@import "./general";
@import "./mixin";
@import "./theme__change";
@import "./navbar";
@import "./intro";
@import "./logos";
@import "./numbers";
@import "./features";
@import "./video";
@import "./noknowledges";
@import "./prices";
@import "./contact";
@import "./team";
@import "./faq";
@import "./footer";
@import "./press";
@import "./media";