.faq{
    width: 100%;
    height: 895px;
    margin-top: 200px;

    &__cont{
        position: relative;
        width: 1340px;
        height: 895px;
        margin: auto;
    }

    &__title{
        width: 606px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 77px;
color: #1A1930;
    }

    &__img{
        position: absolute;
        top: -200px;
        right: 0px;
    }

    &__questions{
        margin-top: 150px;;
        display: flex;
        flex-direction: column;
        gap: 40px;

        &__text{
            width: 710px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 50px;
color: #2D2B5C;
        }
    }

    &__question{
        display: flex;
        align-items: center;

    }

    &__arrow{
        margin-right: 45px;
    }

    &__hr{
        width: 1300px;
        height: 2px;
        background-color: #EAE8FF;
        border: none;
    }
}