.footer {
  width: 100%;
  height: 429px;
  background-color: #1a1930;

  &__cont {
    height: 277px;
    margin-top: 85px;   
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 343px;
    height: 277px;
  }

  &__text {
    font-family: "Prompt";                                  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
  }

  &__right {
    width: 660px;
    height: 277px;
  }

  &__hr {
    width: 700px;
  }

  &__uls {
    display: flex;
    justify-content: space-around;
    padding: 73px;
  }

  &__link {
    @extend %li;
    margin-top: 9px;
  }
}
