*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

li:hover{
    transition: 0.7s ease-out;
    transform: scale(1.1);
}

.swipe__start__cont{
    position: relative;
    width: 1320px;
    height: 880px;
    margin: auto;
}

.swipe__curved__shape{
    position: absolute;
    top: -36px;
    left: 525px;
    z-index: 1;
}

