.logos{
    width: 100%;
    height: 180px;
    background-color: #E7E5FF;


    &__cont{
        width: 1200px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}