.media{
    width: 100%;
    height: 371px;
    margin-top: 100px;

    &__cont{
        position: relative;
        width: 1340px;
        height: 371px;
        margin: auto;
    }

    &__top{
        width: 1340px;
        height: 77px;
        display: flex;
        justify-content: space-between;
    }

    &__title{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 77px;
color: #1A1930;
    }

    &__bottom{
        margin: 70px auto;
        width: 1100px;
        height: 200px;
        display: flex;
        justify-content: space-between;
    }

    &__btn{
        @extend %transparent-btn;
        width: 207px;
        height:60px;
    }

    &__left__arrow{
        position: absolute;
        top: 200px;
        left: -0px;
    }

      &__left__arrow:hover{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
  }


    &__right__arrow{
        position: absolute;
        top: 200px;
        right: 0px;
    }

        &__right__arrow:hover{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
  } 
}