%transparent-btn {
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1930;
  cursor: pointer;
  transition: transform 0.5s ease-out;

}

%transparent-btn:hover{
  transform: scale(1.1);
  opacity: 0.6;
  background-color: #ffb68b;
  color: rgb(255, 86, 86);
  border: 2px solid rgb(255, 86, 86);
}

%transparent-btn:active{
  transform: scale(0.7);
}

%purple-btn{
background: #6259EA;
border-radius: 5px;
border: none;
cursor: pointer;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
transition: transform 0.5s ease-out;
}

%purple-btn:hover{
  transform: scale(1.1);
  border: 2px solid #6259EA;
  background-color: #FFFFFF;
  color: #6259EA;
}

%purple-btn:active{
  transform: scale(0.7);
}

%li {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1a1930;
}
