header {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 36px;
  z-index: 2;
}

.nav {

  margin: auto;
  width: 1300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  &__ul {
    display: flex;
    gap: 24px;
  }

  &__link {
    @extend %li;
  }

  &__btn {
    @extend %transparent-btn;
    width: 139px;
    height: 60px;
  }
}
