.numbers {
  width: 100%;
  height: 588px;
  margin-top: 100px;

  &__cont {
    position: relative;
    height: 588px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
  }

  &__triangle{
    position: absolute;
    top: -200px;
    left: -111px;
    z-index: 1;
  }

  &__top{
    position: relative;

    width: 1300px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    z-index: 2;

  }

  &__sbt {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    text-transform: uppercase;
    color: #2d2b5c;
  }

  &__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 77px;
    color: #2d2b5c;
  }

  &__hr {
    width: 750px;
    height: 2px;
    background: #e7e5ff;
    border-radius: 0px;
  }

  &__block {
    width: 750px;
    height: 172px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-family: "Prompt";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 42px;
      color: #1a1930;
    }

    &__text {
        width: 383px;
      font-family: "Prompt";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #2d2b5c;
    }
  }

  &__right{
font-family: 'Prompt';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 112px;
color: #2D2B5C;
  }

  &__long__hr{
    width: 1300px;
    height: 2px;
    background: #e7e5ff;
  }
}
