.press {
  width: 100%;
  height: 757px;
  margin-top: 150px;

  &__cont {
    height: 757px;
  }

  &__top {
    width: 1340px;
    height: 77px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 77px;
    color: #1a1930;
  }

  &__btn {
    @extend %purple-btn;
    width: 157px;
    height: 60px;
  }

  &__bottom {
    margin: 50px;
    width: 1096px;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  &__hr {
    width: 2px;
    height: 600px;
    background-color: #e7e5ff;
    border: none;
  }

  &__card {
    width: 418px;
    height: 600px;

    &__btn {
      width: 150px;
      height: 30px;
      margin-top: 30px;
      background: #e7e5ff;
      border-radius: 5px;
      border: none;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #2d2b5c;
    }

    &__title{
        width: 383px;
        margin-top: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
color: #1A1930;
    }

    &__link{
        margin: 38px;
        display: flex;
        gap: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-transform: uppercase;
color: #1A1930;
    }
  }
}
