/* ------------ VARIABLES ------------ */
:root{
  /* COLORS */
  --color: #9176FF;
  --dark-color: #2b2b2b;
  --dark-icon-color: #fff;
  --light-color: #f7f7f7;
  --light-icon-color: #FFDE59;
}

/* -------------- BUTTON -------------- */

.btn{
  background-color: #fff;
  width: 12em;
  height: 6em;
  border-radius: 10em;
  padding: 0 0.5em;
    opacity: 0.5;
  box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
              inset 0 8px 8px rgba(0,0,0, .1),
              inset 0 -4px 4px rgba(0,0,0, .1);

  position: fixed;
  top: 600px;
  right: 40px;
  z-index: 4;


  display: flex;
  align-items: center;

  cursor: pointer;
}

.btn__indicator{
  background-color: #fff;
  width: 5em;
  height: 5em;
  border-radius: 50%;

  position: absolute;

  box-shadow: 0 8px 40px rgba(0,0,0, .2);

  transition: transform .3s ease;
}

.btn__icon-container{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__icon{
  color: var(--light-icon-color);
  font-size: 3rem;
}

/* -------------- ANIMATION ------------ */
.btn__icon.animated{
  animation: spin 0.5s;
}

@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}

/* -------------- DARKMODE -------------- */
body.darkmode{
  background-color: var(--dark-color);
}

.darkmode .btn{
  box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
              inset 8px 0 8px rgba(0,0,0, .3),
              inset 0 -4px 4px rgba(0,0,0, .3);
}

.darkmode .btn__indicator{
  transform: translateX(6em);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0,0,0, .3);
}

.darkmode .btn__icon{
  color: var(--dark-icon-color);
}
