.video{
    width: 100%;
    height: 908px;
    margin-top: 200px;

    &__cont{
        margin: auto;
        width: 1340px;
        height: 908px;
    }

    &__title{
        margin-bottom: 90px;
width: 473px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 50px;
color: #2D2B5C;
    }
}